* {
  padding: 0;
  margin: 0;
  font-family: poppins;
}
body {
  height: 100vh;
  background-image: url("./images/so-white.png");
}
a {
  text-decoration: none;
}
.body_container {
  padding: 3% 7%;
}
nav {
  width: 100%;
  position: relative;
  margin-bottom: 5%;
}
.nav_slogan {
  color: #1c6fd0;
  font-weight: bold;
  letter-spacing: 10;
  display: inline;
  left: 0;
  font-size: 7rem;
}

.nav_links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}
.nav_links a {
  color: #000;
  margin-left: 2.2rem;
  font-size: 3rem;
}
.nav_btn {
  font-size: 2rem;
  padding: 4rem 8rem;
  background-color: #1c6fd0;
  color: #fff;
  border-radius: 50px;
  float: right;
  box-shadow: #000;
}
.nav_btn:hover {
  background-color: #fff;
  color: #1c6fd0;
}
.main_body {
  display: flex;
  align-content: space-between;
}
.left_side {
  width: 100%;
  margin-right: 10%;
}
.upper_text {
  font-size: 2vh;
  letter-spacing: 0.5rem;
}
.main_text {
  font-size: 10vh;
  width: 100%;
  margin-top: 10sspx;
  line-height: 1.2;
}
.img {
  width: 100%;
}
footer {
  margin-top: 4%;
  display: flex;
}
.right_ftr {
  background-color: #1c6fd0;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}
.left_ftr {
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}
.right_ftr p {
  padding: 5%;
  font-size: 1.8rem;
}
.left_ftr p {
  padding: 5%;
  font-size: 1.8rem;
}
